#root {
  max-width: 1280px;
  margin: 0 auto;
  padding:2rem;
  width:80%;
 
}
.logo {
  height: 40px;
  width:auto;
  padding:10px;
  border-radius:20px; 
}
.search{
 position: relative;
  margin-left: auto; 
}
.line{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:20px;
  padding: 20px 0;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 1px solid #dee2e6;
  
}
input{
  margin:auto;
  margin-inline-start: 20px;
  padding:auto;
}
.menu{
  padding:8px 12px;
  background:pointer;
  position:absolute;
  width:100%;
  text-align: left;
  box-shadow: 0 2px 10px rgba(0,0,0,0,0.1);

} 
 .header-left {
    order: 1;
    width: 100%;
    justify-content: center;
  }

.fruits-container{
   display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}
.fruit-emoji {
  font-size: 4rem;
  display: block;
  margin-bottom: 8px;
}

.grid-item{
    aspect-ratio: 1 / 1;  /* Makes it square */
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}
.fruit-name {
  margin-bottom: 5px;
}

.fruit-price {
  color: #2ecc71;
  font-weight: 600;
   margin-bottom: 5px;
}
.buy-fruit{
  border-radius: 10px;
  font-weight:bold;
  padding: 7px 15px;
  font-size: 1rem;
}
