#root {
  max-width: 1280px;
  margin: 0 auto;
 
}
.logo ,.search {
  height: 40px;
  width:auto;
  padding:10px;
  border-radius:20px; 
}
.line{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:20px;
  border-bottom: 1px solid #dee2e6;
  
}
input{
  margin:auto;
  margin-inline-start: 20px;
  padding:auto;
}
.menu{
  padding:8px 12px;
  background:pointer;
  position:absolute;
  width:100%;
  text-align: left;
  box-shadow: 0 2px 10px rgba(0,0,0,0,0.1);

}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  text-align:center;
}
