#root {
  max-width: 1280px;
  margin: 0 auto;
  padding:2rem;
  width:80%;
 
}
.logo {
  height: 40px;
  width:auto;
  padding:10px;
  border-radius:20px; 
}
.search{
 position: relative;
  margin-left: auto; 
}
.line{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:20px;
  padding: 20px 0;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 1px solid #dee2e6;
  
}
input{
  margin:auto;
  margin-inline-start: 20px;
  padding:auto;
}
.menu{
  padding:8px 12px;
  background:pointer;
  position:absolute;
  width:100%;
  text-align: left;
  box-shadow: 0 2px 10px rgba(0,0,0,0,0.1);

} 
 .header-left {
    order: 1;
    width: 100%;
    justify-content: center;
  }
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  text-align:center;
}
.fruits-table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}

.fruits-table th {
  background-color: #646cff;
  color: white;
  padding: 12px;
  text-align: left;
}

